asgiref==3.9.1
attrs==20.3.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cowsay==6.1
cryptography==45.0.5
Django==5.2.5
et_xmlfile==2.0.0
ffmpeg==1.4
gunicorn==23.0.0
idna==3.10
jellyfish==1.2.0
lib50==3.1.1
markdown2==2.5.4
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pexpect==4.9.0
pillow==11.3.0
ptyprocess==0.7.0
pycparser==2.22
python-dateutil==2.9.0.post0
pytube==15.0.0
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
submit50==3.2.1
termcolor==1.1.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
yt-dlp==2025.7.21
